* {
  box-sizing: border-box;
}
*:root {
  --size: 250px;
  --sizeMed: 500px;
  --sizeLg: 700px;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#myCanvas {
  width: var(--size);
  height: calc(var(--size) * 0.55);
  border: 1px solid black;
  z-index: 3;
  position: relative;
}
h1 {
  position: absolute;
  top: 30%;
  left: 40%;
  animation: show 3s ease-in;
}

img {
  height: calc(var(--size) * 0.2);
  width: calc(var(--size) * 0.2);
  z-index: 2;
}

.yellowBL {
  position: absolute;
  left: -10%;
  bottom: 0;
  animation: grow 1s ease-in;
}
.yellowTR {
  position: absolute;
  top: -18%;
  right: -2%;
}
.yellowBR1 {
  position: absolute;
  bottom: 10%;
  right: -10%;
  animation: grow 2s ease-in;
}
.yellowBR2 {
  position: absolute;
  bottom: -10%;
  right: 10%;

  animation: grow 3s ease-in;
}
.yellowTL {
  position: absolute;
  top: -9%;
  left: 7%;
  transform: rotate(60deg);
}
.darkTL {
  position: absolute;
  top: 5%;
  left: -10%;
  animation: grow 1s ease-in;
}
.darkBR {
  position: absolute;
  bottom: -16%;
  right: -5%;
  animation: grow 1s ease-in;
}
.darkTR {
  position: absolute;
  top: 3%;
  right: -10%;

  animation: grow 1s ease-in;
}
.lightTL {
  position: absolute;
  top: -20%;
  left: -8%;
  animation: grow 2s ease-in;
}
.lightBL {
  position: absolute;
  bottom: -15%;
  left: 1%;
  z-index: 1;
}

.branchTL {
  position: absolute;
  top: -22%;
  left: -20%;
  z-index: 1;

  transform: scaleX(-1);
  animation: show 3s ease-in;
}
.branchTR {
  position: absolute;
  top: -30%;
  right: 1%;
  z-index: 1;
  transform: rotateZ(303deg);
  -webkit-box-reflect: below;
  animation: show 3s ease-in;
}
.branchBL {
  position: absolute;
  bottom: 0;
  left: 9%;
  z-index: 0;
  -webkit-box-reflect: below;
  transform: rotateZ(30deg);
  animation: show 3s ease-in;
}

@keyframes grow {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  #myCanvas {
    width: var(--sizeMed);
    height: calc(var(--sizeMed) * 0.55);
  }

  img {
    height: calc(var(--sizeMed) * 0.2);
    width: calc(var(--sizeMed) * 0.2);
  }
}
@media only screen and (min-width: 900px) {
  #myCanvas {
    width: var(--sizeLg);
    height: calc(var(--sizeLg) * 0.55);
  }

  img {
    height: calc(var(--sizeLg) * 0.2);
    width: calc(var(--sizeLg) * 0.2);
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    top: 10%;
    left: 20%;
  }
}
